@model NF.Framework.DTO.TS_DEPTDTO
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查询部门</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-treeview.css" rel="stylesheet" />
    <script src="~/bootstrap/js/jquery-2.2.3.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap/js/bootstrap-treeview.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="dosome(1)">全选</button>
                <button type="button" class="btn btn-default" onclick="dosome(2)">反选</button>
                <button type="button" class="btn btn-default" onclick="dosome(4)">展开</button>
                <button type="button" class="btn btn-default" onclick="dosome(3)">折叠</button>
            </div>
            <input type="button" onclick="getDisabled()" value="提交" class="btn btn-primary btn-xs" />

         

            <div id="treeview1"></div>
        </div>
        <div style="display: none;" id="treeviewVal">
            @Model.JsonDept
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#treeview1').treeview({
                data: $("#treeviewVal").html(),
                showCheckbox: true,
                levels: 1,
                onNodeChecked: function (event, data) {
                    //选中父节点，则自动选择子节点
                    if (data.nodes != null) {
                        var arrayInfo = data.nodes;
                        for (var i = 0; i < arrayInfo.length; i++) {
                            // $('#treeview1').treeview('checkNode', [ arrayInfo[i].nodeId, { silent: true } ]);
                            $('#treeview1').treeview('toggleNodeChecked', [arrayInfo[i].nodeId, { silent: true }]);
                        }
                    }
                },
                onNodeUnchecked: function (event, data) {
                    //取消选中父节点，则自动取消选择子节点
                    if (data.nodes != null) {
                        var arrayInfo = data.nodes;
                        for (var i = 0; i < arrayInfo.length; i++) {
                            // $('#treeview1').treeview('checkNode', [ arrayInfo[i].nodeId, { silent: true } ]);
                            $('#treeview1').treeview('toggleNodeChecked', [arrayInfo[i].nodeId, { silent: true }]);
                        }
                    }
                }

            });

        });

        function dosome(num) {
            if (num == 1) {
                $('#treeview1').treeview('checkAll', { silent: true });//全选
            } else if (num == 2) {
                $('#treeview1').treeview('uncheckAll', { silent: true });//取消全选
            } else if (num == 3) {
                $('#treeview1').treeview('collapseAll', { silent: true });//折叠
            } else if (num == 4) {
                $('#treeview1').treeview('expandAll', { levels: 2, silent: true });//展开所有二级节点
            }
        }
        function getDisabled() {
            var checkedArr = $('#treeview1').treeview('getChecked', '');
            var ids = "";
            var names = "";
            for (var i = 0; i < checkedArr.length; i++) {
                if (i == checkedArr.length - 1) {
                    ids += checkedArr[i].id;
                    names += checkedArr[i].text;
                }
                else {
                    ids += checkedArr[i].id + ",";
                    names += checkedArr[i].text + ",";
                }
            }
            $(window.opener.document.getElementById("DeptID")).attr("value", ids);
            $(window.opener.document.getElementById("DeptName")).attr("value", names);
            window.close();
        }

    </script>
</body>
</html>
